html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    height: 100%;
}

.game-canvas {
    height: 100%;
    width: 100%;
    background-color: black;
}

.play_again_button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgb(0, 89, 255);
    width: 20vw;
    height: 40px;
    border: none;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: 0.2s;
}

.play_again_button:hover {
    height: 100px;
}
