html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    height: 100%;
}

.game-canvas {
    height: 100%;
    width: 100%;
    background-color: black;
}

.play_again_button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgb(0, 89, 255);
    width: 20vw;
    height: 40px;
    border: none;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: white;


    transition: 0.2s;
}

.play_again_button:hover {
    height: 100px;
}

.username_input:hover {
    height: 100px;
}

.username_input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 20vw;
    height: 40px;

    border-radius: 15px;
    border: none;
    outline: none;

    background-color: rgb(0, 139, 19);
    color: rgb(255, 255, 255);

    transition: 0.2s;
}

input:focus{
    outline: none;
}

.leader_bord {
    color: aqua;

    position: absolute;

    width: fit-content;
    max-height: 10%;

    margin-left: 30px;

}

.leader_bord p {
    margin-left: 20px;
}